<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board | <%= board.name %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <%- include("../partials/header") %> <%- include("../partials/navbar") %>
    <%- include("./update-form", { board: board }) %>
    
    <div id="column-wrapper">

      <% if (columns) { %>
        <% columns.forEach((column) => { %>
          
          <%- include("../column/update-form", { column: column, tasks: tasks }) %>
          
        <% }); %>
      <% }; %>

    </div>
    
    <!-- <button>Add Column</button> -->
    <div id="load-column-form">

      <%- include("../column/create-form", { board: board }) %>
      
    </div>
    
    <a href="/board/<%= board.id %>/update">Edit Board</a>
 
    <%- include("../partials/footer") %>

    <script src="/js/form.js"></script>
    <script type="module" src="/js/task.js"></script>
    <script type="module" src="/js/column.js"></script>
  </body>
</html>
